@inject IContentDefinitionManager ContentDefinitionManager
@{
  ContentItem contentItem = Model.ContentItem;
  var contentTypeDefinition = ContentDefinitionManager.GetTypeDefinition(contentItem.ContentType);
  var typeDisplayName = contentTypeDefinition?.DisplayName ?? contentItem.ContentType.CamelFriendly();
}

<zone Name="Title">
  <h1>@RenderTitleSegments(T["Edit {0}", Html.Raw(typeDisplayName)])</h1>
</zone>

<form asp-action="Edit" method="post" class="no-multisubmit">
  @Html.ValidationSummary()
  @await DisplayAsync(Model)
</form>
