$gap: 20px;
.organization-profile-content {
  margin-top: 60px;
  > .header {
    font-size: 24px;
    margin: $gap 0px;
    font-weight: bold;
  }

  > .contact-detail {
    margin-top: 60px;
    gap: $gap;

    @media (min-width: 768px) {
      row-gap: 50px;
      margin-top: 100px;
    }
  }

  > .-row-wrap {
    flex-wrap: wrap;
  }
}

.contact-detail {
  display: flex;
  > * {
    width: 100%;
  }

  @media (min-width: 768px) {
    > * {
      width: calc(50% - #{$gap}/ 2);
    }
  }

  @media (min-width: 1200px) {
    > .contact-information {
      padding-left: 100px;
    }
  }
}

.contact-information {
  > .item {
    word-break: break-word;
  }
}

.social-network-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: $gap;
  font-size: 16px;
  font-weight: bold;

  @media (min-width: 768px) {
    font-size: 20px;
  }
}

.social-network-link {
  display: flex;
  align-items: center;
  column-gap: 5px;

  &:hover,
  &:link,
  &:active,
  &:visited {
    text-decoration: none;
  }

  > .fa-youtube,
  > .fa-facebook {
    font-size: 24px;
  }

  > .fa-youtube {
    color: red;
  }

  > .fa-facebook {
    color: blue;
  }

  @media (min-width: 768px) {
    > .fa-youtube,
    > .fa-facebook {
      font-size: 30px;
    }
  }
}
