@model ShapeViewModel<BlockListPart>
@{
 var blockListPart = Model.Value;
}

<style asp-src="~/ReplicationFaq.Theme/styles/style.css" at="Head"></style>
<div class="block-list">
  @foreach (var item in blockListPart.Items)
  {
    <a class="block-list-item" href="@item.Url">@T[item.Name]</a>
  }
</div>