<style asp-src="~/ReplicationFaq.Theme/styles/style.css" at="Head"></style>
<div class="block-list">
  @* <a class="block-item" asp-route="AllEvents">@T["Events"]</a>
  <a class="block-item" asp-route="AllVideos">@T["Videos"]</a> *@
  <div class="block-list-item">
    Manual/Documents
  </div>
  <div class="block-list-item">
    Research
  </div>
  <div class="block-list-item">
    Bone protection club 
  </div>
  <div class="block-list-item">
    Member login
  </div>
  <div class="block-list-item">
    Gallery
  </div>
</div>