@using OrchardCore.Mvc.Utilities
@using OrchardCore.Autoroute.Models

@model OrchardCore.Markdown.ViewModels.MarkdownBodyPartViewModel
@{
  var contentItem = Model.ContentItem as ContentItem;
  var autoRoutePath = contentItem.As<AutoroutePart>();
}

<div class="content-readmore">
  <div class="-textBold">@Html.Raw(Model.Html.RemoveTags(true).Ellipsize(200))</div>
  <div><a href="@autoRoutePath.Path">Read more...</a></div>
</div>
