@using OrchardCore.Mvc.Utilities
@using OrchardCore.Autoroute.Models

@model OrchardCore.Markdown.ViewModels.MarkdownBodyPartViewModel
@{
  var contentItem = Model.ContentItem as ContentItem;
  var autoRoutePath = contentItem.As<AutoroutePart>();
}

<div class="content-readmore">
  <p class="">@Html.Raw(Model.Html.RemoveTags(true).Ellipsize(200)) <a href="@autoRoutePath.Path">Read more...</a></p>
</div>
