@model OrchardCore.Taxonomies.ViewModels.DisplayTaxonomyFieldViewModel
@using OrchardCore.Mvc.Utilities;

@{
  // Fileds are attached to a part witch has the same name as type

  // Or
  // [PartType]__[FieldName]__[ShapeType]
  // [PartType]_[DisplayType]__[FieldName]__[FieldType]_[DisplalyMode]

  var name = (Model.PartFieldDefinition.PartDefinition.Name + "-" + Model.PartFieldDefinition.Name).HtmlClassify();
}

<div class="field field-type-taxonomyfield field-name-@name">
  <span>Tag: </span>
  @foreach (var contentItemId in Model.TermContentItemIds)
  {
    var term = await Orchard.GetTaxonomyTermAsync(Model.TaxonomyContentItemId, contentItemId);
    <span class="taxonomy-term -grow"><a href="/tags/@term" class="link-button" title="@term">@term</a></span>
  }
</div>
