@* @addTagHelper *, OrchardCore.Contents.TagHelpers *@
<div>
  <div class="category-header">
    <span>
      @Model.ContentItem.DisplayText
    </span>
  </div>

  <div class="content-list">
    @* list of blog post in this category *@
    @await DisplayAsync(Model.Content.TermPart)
  </div>
</div>