@using OrchardCore.Mvc.Utilities;
@using OrchardCore.Autoroute.Models

@{
  // Model is a zone object.
  var contentItem = Model.ContentItem as ContentItem;
  var contentTypeClassName = ((string)contentItem.ContentType).HtmlClassify();
  var autoRoutePath = contentItem.As<AutoroutePart>();
}

<a class="@contentTypeClassName-content -summary card-box -grow" href="@autoRoutePath.Path" title="@contentItem.DisplayText">
  <div>Content-BlogPost.Summary</div>
  <div class="secondary-content">
    @* local zone insize content zones (Header, Meta, Content)*@
    <div class="meta-content">@await DisplayAsync(Model.Meta)</div>
    <div class="header-content">@await DisplayAsync(Model.Header)</div>
  </div>
  <div class="main-content">
    @await DisplayAsync(Model.Content)
  </div>
</a>