@using OrchardCore.Mvc.Utilities;
@using OrchardCore.Autoroute.Models

@{
  // Model is a zone object.
  var contentItem = Model.ContentItem as ContentItem;
  var contentTypeClassName = ((string)contentItem.ContentType).HtmlClassify();
  var autoRoutePath = contentItem.As<AutoroutePart>();
}

<div class="@contentTypeClassName-content -summary card-box -grow">
  <div class="secondary-content content-item">
    <div class="header-content -unsetMargin">
      <a class="@contentTypeClassName-content -summary link-button" href="@autoRoutePath.Path" title="@contentItem.DisplayText">
        @await DisplayAsync(Model.Header)
      </a>
    </div>
    <div class="meta-content -unsetMargin">@await DisplayAsync(Model.Meta)</div>
  </div>
  <div class="main-@contentTypeClassName-content">
    @await DisplayAsync(Model.Content)
  </div>
</div>
