@model ShapeViewModel<HomeBannerPart>
@{
  var homeBannerPart = Model.Value;
  @*
    HtmlFieldPrefix is the PartName i.e. ValidationPart, which is not needed in Display.
    var htmlFieldPrefix = ViewContext.ViewData.TemplateInfo.HtmlFieldPrefix;
    ViewContext.ViewData.TemplateInfo.HtmlFieldPrefix = "";

    @Html.ValidationMessage(Model.Value.For)
    ViewContext.ViewData.TemplateInfo.HtmlFieldPrefix = htmlFieldPrefix;
  *@
}

<div class="home-banner">
  <h1 class="header">A FAQ on SQL Server Replication</h1>
  <p class="text">Your one stop guide to SQL Server Replication</p>
  <form method="get" action="/Search">
    <div class="input-icon">
      @* Fallback to html helper because we can't use string as an input to tag helper *@
      <input name="Terms" type="text" placeholder='Put your search terms here and press "enter" to search'
        autocomplete="off" class="inputfield" autofocus />
      <span class="inputicon"><i class="fa fa-search"></i></span>
      <input type="submit" style="display:none;" />
    </div>
  </form>
</div>