<!DOCTYPE html>
<html lang="@Orchard.CultureName()">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@RenderTitleSegments(Site.SiteName, "before")</title>
  @*
    Our CSS our custom stylesheet
    You need to spectify a version of dependent resource it it has a version
    https://docs.orchardcore.net/en/dev/docs/reference/modules/Resources/#registering-a-resource-manifest
    Raw file is at ./src/scss/style.scss
  *@
  <!-- Google fonts -->
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
    type='text/css'>
  <link
    href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
    rel='stylesheet' type='text/css'>


  <style asp-name="font-awesome" version="5" at="Head" ></style>
  <style asp-name="bootstrap" at="Head"></style>
  <!-- You need spectify a version of dependent resource it it has a version -->
  <style asp-name="replication-faq-theme" at="Head"></style>
  <script asp-name="bootstrap" at="Foot"></script>

  <resources type="Meta" />
  <resources type="HeadLink" />
  <resources type="Stylesheet" /> <!-- Placeholder for a style file at Head -->
  <resources type="HeadScript" /> <!-- Placeholder for a script file at Head -->
</head>

<body dir="@Orchard.CultureDir()">
  <div class="main-container">
    <div class="banner-homepage">
      <nav class="nav-main nav-transparent">
        <div class="nav-container">
          <div class="logo">
            <span><i class="life-ring"></i>Site Name</span>
          </div>
          <div class="nav-items">
            @* Main menu *@
            <menu alias="alias:main-menu" cache-id="main-menu" cache-fixed-duration="00:05:00"
              cache-tag="alias:main-menu" />
          </div>

          <div class="nav-bar-mobile" onclick="toggle(this)">
            <span><i class="bars"></i></span>
          </div>
        </div>
      </nav>
      @* Breadcrumbs navigation *@
      @(await DisplayAsync(await New.Navigation(MenuName: "breadcrumbs", RouteData: this.ViewContext.RouteData)))
      <div class="section-search">
        <h1 class="header">A FAQ on SQL Server Replication</h1>
        <p class="text">Your one stop guide to SQL Server Replication</p>
        <div class="input-group">
          <input type="search" placeholder="Enter search term here" autocomplete="off" />
          <span><i class="search"></i></span>
        </div>
      </div>
    </div>
    <div class="main-content">
      @await RenderBodyAsync()
    </div>

    <div class="footer">
      <div class="row">
        <div class="col-2">
          <p>Copyright 2017 Powered by Code Love</p>
        </div>
        <div class="col-2">
          <a href="http://www.facebook.com"><span><i class="facebook"></i></span></a>
          <a href="#"><span><i class="google"></i></span></a>
          <a href="#"><span><i class="vimeo"></i></span></a>
          <a href="#"><span><i class="instagram"></i></span></a>
          <a href="#"><span><i class="twitter"></i></span></a>
          <a href="#"><span><i class="youtube"></i></span></a>
        </div>
      </div>
    </div>
    <resources type="FootScript" />

  </div>
  <div class="nav-menu-mobile" id="nav-menu-mobile">
    <div class="list-nav-menu-mobile" id="list-nav-menu-mobile">
      <div class="row">
        <div class="col-1 logo-mobile">
          <span><i class="life-ring"></i>Home</span>
        </div>
        <div class="col-1">Article</div>
        <div class="col-1">
          <div class="sub-menu">
            <a>Scrollspy</a>
          </div>
          <div class="sub-menu">
            <a>Narrow</a>
          </div>
        </div>
        <div class="col-1">Faq</div>
        <div class="col-1">Contact</div>
        <div class="col-1">Components</div>
      </div>
      <div class="row">
        <div class="col-1 text--center btn-support">
          <a class="">Support</a>
        </div>
      </div>
      <div class="row">
        <div class="col-1 text--center">
          <a href="http://www.facebook.com"><span><i class="facebook"></i></span></a>
          <a href="#"><span><i class="google"></i></span></a>
          <a href="#"><span><i class="twitter"></i></span></a>
        </div>
      </div>
    </div>
  </div>
  <script>
    document.getElementById('nav-menu-mobile').addEventListener('click', function (event) {
      console.log("clicked");
      const ignoreClickOnMeElement = document.getElementById('list-nav-menu-mobile')
      var isClickInsideElement = ignoreClickOnMeElement.contains(event.target);
      if (!isClickInsideElement) {
        document.getElementById('nav-menu-mobile').className = 'nav-menu-mobile'
      }
    });
    function toggle() {
      const navMenu = document.getElementById('nav-menu-mobile')
      const className = navMenu.className
      navMenu.className = className == 'nav-menu-mobile' ? 'nav-menu-mobile show' : 'nav-menu-mobile'
    }
  </script>
</body>

</html>