<!DOCTYPE html>
<html lang="@Orchard.CultureName()">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@RenderTitleSegments(Site.SiteName, "before")</title>
  @*
    Our CSS our custom stylesheet
    You need to spectify a version of dependent resource it it has a version
    https://docs.orchardcore.net/en/dev/docs/reference/modules/Resources/#registering-a-resource-manifest
    Raw file is at ./src/scss/style.scss
  *@
  <!-- Google fonts -->
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
    type='text/css'>
  <link
    href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
    rel='stylesheet' type='text/css'>


  <style asp-name="font-awesome" version="5" at="Head"></style>
  <style asp-name="bootstrap" at="Head"></style>
  <!-- You need spectify a version of dependent resource it it has a version -->
  <style asp-name="replication-faq-theme" at="Head"></style>
  <script asp-name="bootstrap" at="Foot"></script>

  <resources type="Meta" />
  <resources type="HeadLink" />
  <resources type="Stylesheet" /> <!-- Placeholder for a style file at Head -->
  <resources type="HeadScript" /> <!-- Placeholder for a script file at Head -->
</head>

<body dir="@Orchard.CultureDir()">
  <div class="main-container">
    <div class="banner-navbar">
      <nav class="nav-main nav-transparent">
        <div class="nav-container">
          <div class="logo">
            <span><i class="far fa-life-ring icon"></i>Site Name</span>
          </div>
          <div class="nav-items">
            @* Main menu *@
            <menu alias="alias:main-menu" cache-id="main-menu" cache-fixed-duration="00:05:00"
              cache-tag="alias:main-menu" />
          </div>

          <div class="iconmobile" onclick="toggle(this)">
            <span class="icon"><i class="fa fa-bars"></i></span>
          </div>
        </div>
      </nav>
      @* Breadcrumbs navigation *@
      @(await DisplayAsync(await New.Navigation(MenuName: "breadcrumbs", RouteData: this.ViewContext.RouteData)))
    </div>

    <div>
      @await RenderSectionAsync("Message", required: false)
    </div>

    <div>
      @await RenderSectionAsync("BeforeContent", required: false)
    </div>

    <div class="main-content">
      @await RenderBodyAsync()
    </div>

    <div class="main-footer">
      <div class="copyright-message">
        Copyright 2017 Powered by Code Love
      </div>
      <ul class="social-network">
        @* https://fontawesome.com/v5.15/icons?d=gallery&p=2 *@
        <li class="item">
          <a href="">
            <i class="fab fa-facebook"></i>
          </a>
        </li>
        <li  class="item">
          <a href="">
            <i class="fas fa-envelope"></i>
          </a>
        </li>
        <li  class="item">
          <a href="">
            <i class="fab fa-youtube"></i>
          </a>
        </li>
      </ul>
    </div>

    <div class="nav-mobile" id="nav-mobile">
      <div class="nav-mobile-items" id="nav-mobile-items">
        <div class="logo">
          <span><i class="far fa-life-ring icon"></i>SITE NAME</span>
        </div>
        @* Main menu mobile version *@
        <menu alias="alias:main-menu" cache-id="main-menu" cache-fixed-duration="00:05:00"
          cache-tag="alias:main-menu" />
        <div class="button">
            <a class="link-button">Support</a>
        </div>
        <div class="social-network -center">
          <div class="item">
            <a href="http://www.facebook.com"><span><i class="fab fa-facebook"></i></span></a>
          </div>
          <div class="item">
            <a href="#"><span><i class="fas fa-envelope"></i></span></a>
          </div>
          <div class="item">
            <a href="#"><span><i class="fab fa-youtube"></i></span></a>
          </div>
          </div>
        </div>
      </div>
    </div>

    <resources type="FootScript" />
    <script>
      document.getElementById('nav-mobile').addEventListener('click', function (event) {
        console.log("clicked");
        const ignoreClickOnMeElement = document.getElementById('nav-mobile-items')
        var isClickInsideElement = ignoreClickOnMeElement.contains(event.target);
        if (!isClickInsideElement) {
          document.getElementById('nav-mobile').className = 'nav-mobile'
        }
      });
      function toggle() {
        const navMenu = document.getElementById('nav-mobile')
        const className = navMenu.className
        navMenu.className = className == 'nav-mobile' ? 'nav-mobile -show' : 'nav-mobile'
      }
    </script>
</body>

</html>