<!DOCTYPE html>
<html lang="@Orchard.CultureName()">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@RenderTitleSegments(Site.SiteName, "before")</title>
  <resources type="Meta" />
  <!-- INSERT REQUIRED RESOURCES HERE -->
  <style asp-name="bootstrap" version="4" at="Head"></style>
  <script asp-name="bootstrap" version="4" at="Foot"></script>
  <resources type="HeadLink" />
  <resources type="Stylesheet" />
  <resources type="HeadScript" />
</head>
<body dir="@Orchard.CultureDir()">
  @await RenderBodyAsync()
  <footer>
    @await RenderSectionAsync("Footer", required: false)
  </footer>
  <resources type="FootScript" />
</body>
</html>