@{
    ContentItem contentItem = Model.ContentItem;
    var linkMenuItemPart = contentItem.As<LinkMenuItemPart>();
}

@functions {
  string ResolveUrl(string url)
  {
    if(string.IsNullOrWhiteSpace(url)){
      return "#";
    }

    return url.StartsWith("/", StringComparison.Ordinal) ? Url.Content($"~{url}")
      : url.StartsWith("~/", StringComparison.Ordinal) ? Url.Content(url)
      : url;
  }
}

<a class="link-button" href="@ResolveUrl(linkMenuItemPart.Url)">
  @contentItem.DisplayText
</a>
