@model ShapeViewModel<RecentBlogPostsViewModel>
@{
  var model = Model.Value;
  // Model.BlogPosts is List shape defined in List shape in CoreShape.cs.
  // We use Model.BlogPost.Classes to add class to ul tag
  model.ListShape.Classes.Add("_list-unstyled");
  IEnumerable<dynamic> blogPosts = model.ListShape;
  model.ListShape.ItemClasses.Add("recent-item");
}

<div class="mt-3 recent-blog-posts">
  <h2 class="title">@T["Recent blog posts"]</h2>

  @await DisplayAsync(blogPosts)

  @if (blogPosts == null || blogPosts.Count() == 0)
  {
    <p>@T["No recent blog posts"]</p>
  }

  <!-- @if (model.ShowViewMore)
  {
    <div class="view-more">
      <a href="/" class="button">@T["View more"]</a>
    </div>
  } -->

</div>