@model SearchFormViewModel
<h1>custom form</h1>
<form action="@Url.Action("Search", "Search")" method="get">
  <div class="input-group mb-3 mt-5">
    <input name="Terms" type="text" value="@Model.Terms" class="form-control formInput"
      placeholder="@T["Enter your search term(s)"]" autofocus />
    <div class="input-group-append">
      <div class="input-group-append">
          <button class="btn btn-primary btnIcon" type="submit"><i class="fa fa-search"></i></button>
      </div>
    </div>
  </div>
</form>
