@using OrchardCore.Mvc.Utilities;
@{
  var contentTypeClassName = ((string)Model.ContentItem.ContentType).HtmlClassify();
}

<style asp-src="~/Codesanook.OrganizationProfile/styles/style.css" at="Head" />

<div class="@contentTypeClassName-content content-item -detail">
  <h1>head</h1>
  <div class="main-content -row-wrap">
    @await DisplayAsync(Model.Content)
  </div>
</div>