$urlImage: "/ReplicationFaq.Theme/images";
.home-banner {
  color: #f2f2f2;
  background: url($urlImage + "/city-2.jpg");
  background-color: #21b4db;
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-blend-mode: color-burn;
  text-align: center;

  > .header {
    padding: 90px 0px 20px;
    font-size: 56px;
    line-height: 1.1;
  }

  > .text {
    font-size: 20px;
    line-height: 1.5;
    padding: 20px;
  }

  @media (max-width: 768px) {
    > .header {
      font-size: 32px;
    }
  }
}

.form-search {
  width: 100%;
  max-width: 650px;
  margin: 0px auto;
  position: relative;
  color: #425869;
  padding: 40px 0px 60px;

  @media (max-width: 425px) {
    width: 90%;
  }
}

.input-group {
  @media (max-width: 425px) {
    > .formInput {
      min-height: calc(1.5em + (0.5rem + 2px));
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
      border-radius: 0.2rem;
    }

    > .input-group-append > .btnIcon {
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
      border-radius: 0.2rem;
    }
  }
}
