.main-footer {
  $widget-item-gap: 30px;
  display: flex;
  color: #8f9fad;
  max-width: 1060px;
  margin: 20px auto;
  > * {
    width: 100%;
  }

  > .social-network,
  > .copyright-message {
    text-align: center;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    margin: 20px 0;

    > .copyright-message {
      padding: 0px 0px 15px;
    }
  }

  @media (min-width: 768px) {
    width: calc(100% - 40px);
    align-items: center;
  }
}

.social-network {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  
  &.-center {
    text-align: center;
  }

  > .item {
    font-size: 25px;
    margin: 0 15px;
  }

  @media (max-width: 768px) {
    justify-content: center;
  }
}
