.nav-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #fffffff2;
  width: 100%;
  font-size: 15px;
  line-height: 1.7333;
  text-transform: uppercase;
  height: 80px;
  letter-spacing: 0.05rem;

  > .nav-container {
    max-width: 1060px;
  }

  @media (max-width: 1024px) {
    width: 100%;
    padding: 0px 20px;
  }

  @media (max-width: 1060px) {
    > .nav-container {
      max-width: 100%;
    }
  }
}

.nav-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  font-size: 15px;
  line-height: 1.7333;
  align-items: center;

  > .nav-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0px;
    font-size: 13px;
    cursor: pointer;
  }

  > .logo {
    font-size: 19px;
    cursor: pointer;
    color: #fffffff2;
  }

  > .logo .icon {
    margin-right: 10px;
  }

  > .iconmobile {
    display: none;
  }

  @media (max-width: 1024px) {
    > .nav-items {
      display: none;
    }

    > .iconmobile {
      display: flex;
      cursor: pointer;
      font-size: 20px;
    }
  }
}

.banner-navbar {
  background: url($urlImage + "/bg-nav.jpg");
  background-color: #00a2d6d1;
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-blend-mode: color-burn;
}

.nav-mobile {
  display: none;

  &.-show {
    display: flex;
    flex-wrap: wrap;
    top: 0px;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    align-content: start;
    justify-content: flex-end;
  }

  > .nav-mobile-items {
    padding: 20px 20px;
  }

  @media (min-width: 1024px) {
    display: none;
  }
}

.nav-mobile-items {
  height: 100%;
  background: #222;
  color: #fff;
  font-size: 16px;
  max-width: 300px;

  > .button {
    text-align: center;
    margin: 15px 0px;
    border-color: #fffffff2;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 5px 0px;
  }

  > .button:hover {
    color: #fff;
  }

  > .logo {
    font-size: 24px;
    font-weight: bold;
  }

  > .logo .icon {
    margin-right: 10px;
  }
}

.sub-nav {
  width: 100%;
  padding: 26px 0px;
  background-color: #fff;

  > .breadcrumbs-navigation {
    margin: 0 auto;
  }
}

.breadcrumbs-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  max-width: 1060px;

  > .item {
    color: #8f9fad;
    font-size: 13px;
  }

  > .item:nth-child(n + 2)::before {
    content: "/";
    display: inline-block;
    margin: 0 20px;
  }

  > .item.-active,
  .item:hover {
    color: #425869;
  }

  &.-center {
    margin-left: auto;
    margin-right: auto;
  }
}

// main-menu block
.main-menu {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  margin: 0;

  > .item {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 80px;
    padding: 0 10px;
    font-size: 13px;
    cursor: pointer;
  }
}

.link-button {
  text-decoration: none;
}

@media (max-width: 1024px) {
  .sub-nav {
    > .breadcrumbs-navigation {
      width: calc(100% - 40px);
      padding: 0px 20px;
    }
  }
  .main-menu {
    > .item {
      height: 40px;
      justify-content: flex-start;
      width: 100%;
    }
  }
}
