$font: "Open Sans", sans-serif;
$primary-color: #425869;
$urlImage: "/ReplicationFaq.Theme/images";
$urlFont: "/ReplicationFaq.Theme/fonts";

//reset css
ul {
  padding: 0;
  margin: 0;
}

@import "./navigation.scss";
@import "./block-list.scss";
@import "./home-banner.scss";
@import "./main-footer.scss";
@import "./content-list.scss";
@import "./content-detail.scss";
@import "./blogpost.scss";

@font-face {
  font-family: "Open Sans";
  src: url($urlFont + "/OpenSans/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Open Sans";
  src: url($urlFont + "/OpenSans/OpenSans-Light.ttf") format("truetype");
  font-weight: normal;
}

:root {
  font-size: 16px;
}

html,
body {
  font-size: 1rem;
  position: relative;
  font-family: $font;
  color: $primary-color;
  font-weight: normal;
  height: max-content;
  margin: 0;
}

.main-container {
  min-height: 100vh;
  height: max-content;
  display: flex;
  flex-flow: column;
}

.main-content {
  max-width: 1060px;
  width: 100%;
  margin: 0px auto;
}

a,
a:hover {
  color: inherit;
  cursor: pointer;
}

._list-unstyled {
  list-style: none;
}

@media (max-width: 1060px) {
  .main-content {
    width: calc(100% - 40px);
    padding: 0px 20px;
  }
}
